.inputBlock
  margin: 10px 0
  position: relative

  > label
    position: absolute
    top: 50%
    left: 10px
    transform: translateY(-50%)
    opacity: 50%

  > input
    width: 100%
    padding: 5px 5px 5px 90px